*.log
*.sdf
*.suo
*.opensdf
*.user
*.i
Build/VCBuild/
Build/ipch/
Build/.vs/
build_*.log
build_*.wrn
build_*.err
buildchk.*
buildfre.*
Build/swum-cache.txt
*.tlog/
.*.swp
sd.ini
*.vcxproj.user
test/*/*.baseline.rebase
test/*/profile.dpl.*
